* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-state-icon {
  animation: loading-spin 1s linear infinite;
}